/* header 박스 style 입니다. */

.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

/* header 좌측 로고 style 입니다. */

.logo a img {
  width: 64px;
  height: 28px;
}

.logo {
  height: 60px;
  display: flex;
  align-items: center;
}

/* header nav 입니다. */

.header_nav {
  display: none;
}

/* header 우측 ui style 입니다. */

.header_ui {
  height: 60px;
  display: flex;
  align-items: center;
}

.lang {
  display: none;
}

.m_btn a {
  display: flex;
  align-items: center;
}

/* ========================================================================== */

/* site_map 입니다. */

.site_map {
  display: none;
}

.site_map_open {
  display: block;
}

/* site_map 의 상단입니다. */

.site_map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  padding: 30px;
  z-index: 9999;
}

.site_map_upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site_map_logo a img {
  width: 64px;
  height: 28px;
}

/* site_map 의 하단입니다. */

.site_map_nav {
  height: 100%;
}

.site_map_dep1_ul {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  text-align: left;
}

.site_map_dep1_li {
  margin-top: 30px;
  border-bottom: 1px solid #666;
  position: relative;
}

.site_map_dep1_li > a {
  font-size: 28px;
  color: #000;
  font-weight: 500;
}

.site_map_dep1_li::after {
  content: "";
  width: 0px;
  height: 3px;
  background: #a2c233;
  position: absolute;
  top: 40px;
  transition: 0.5s;
}

.site_map_dep1_li:hover::after {
  width: 105px;
}

.site_map_dep1_li::before {
  content: "";
  width: 20px;
  height: 12px;
  position: absolute;
  right: 0;
  top: 10px;
  background-image: url(../component_images/site_map_drop_arrow.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.site_map_dep1_li:hover::before {
  width: 0px;
}

.site_map_dep2_ul {
  max-height: 0;
  overflow: hidden;
  margin-top: 5px;
  transition: 1s;
}

.site_map_dep2_li {
  margin-top: 10px;
}

.site_map_dep2_li > a {
  font-size: 23px;
  color: #444;
}

.site_map_dep1_li:hover > ul {
  max-height: 200px;
}

/* ========================================================================== */

/* footer 박스의 style 입니다. */

.footer {
  margin-top: 100px;
  height: 223px;
  display: flex;
  /* justify-content: space-between; */
  border-top: 1px solid #ccc;
  padding: 20px;
}

/* footer 의 왼쪽 영역입니다. */

.footer_left_upper a img {
  display: none;
}

.footer_left_upper a {
  color: #000;
}

.footer_left_info_1 p:first-child {
  font-size: 14px;
  font-weight: bold;
}

.footer_left_info_1 p:last-child {
  font-size: 14px;
  margin-top: 5px;
}

.footer_left_info_2 {
  margin-top: 30px;
  font-size: 12px;
  width: 80%;
}

/* footer 의 오른쪽 영역입니다. */

.footer_right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 21px;
  width: 116px;
}

.sns_btn {
  width: 170px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.family_site {
  display: none;
}
